<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Google Translate" parallel="tests" thread-count="3" >
    <test name="Test1">
        <classes>
            <class name="tests.DataProviderTest"/>
        </classes>
    </test>
    <test name="Test2">
        <parameter name="inputString" value="Parameter" />
        <parameter name="expectedResult" value="Paramètre" />
        <classes>
            <class name="tests.ParametersTest"/>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="tests.FactoryClass"/>
        </classes>
    </test>
</suite>